.ExpContainer h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
}

.input {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.input select {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.input input:focus {
  outline: none;
  border-color: #4f005f;
}

.ntn {
  background-color: khaki;
  width: 30%;
  float: right;
}

.control {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}
.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.control input {
  font: inherit;
  display: block;
  width: 80%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.actions {
  margin-bottom: 0.5rem;
}

.actions button {
  margin: 0.5rem;
  cursor: pointer;
  font: inherit;
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #0d71e2;
  border: 1px solid #f1c95b;
  border-radius: 7px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #510df1;
  border-color: #0d71e2;
}
