.contain {
  margin: 10rem auto;
  height: 100px;
  max-width: 25rem;
  border-radius: 10px;
  background-color: #2c1f35;
  box-shadow: 0 1px 4px rgba(219, 81, 81, 0.2);
  padding: 1rem;
  text-align: center;
  color: white;
}

.control {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.control input {
  height: 28px;
  width: 90%;
  position: relative;
  /* border: 10px; */
  border-radius: 4px;
  font-size: 15px;
}

.toggle {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #cc5c78;
  border: 1px solid #cc5c78;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}
.toggle button:hover {
  background-color: #630f9b;
  border-color: #540c85;
}
